@import '../style/settings.scss';

.circles {
    position: absolute;
    border-radius: 50%;
    transition: .4s;

    &:hover {
        transform: scale(1.2);
    }

    @include m('blue') {
        width: 280px;
        height: 280px;
        background: linear-gradient(to right bottom, #60c3ff, rgb(68, 141, 255));
        left: -50px;
        top: -50px;
    }

    @include m('red') {
        width: 190px;
        height: 190px;
        background-color: #f57081;
        bottom: -40px;
        left: -40px;
    }

    @include m('green') {
        width: 230px;
        height: 230px;
        background-color: #44f6c7;
        bottom: -35px;
        right: -35px;
    }

    @include m('yellow') {
        width: 180px;
        height: 180px;
        background-color: #ffcb89;
        right: -60px;
        top: -60px;
    }
}